body {
  font-family: sans-serif;
  min-height: 100vh;
  font-family: "Titillium Web", sans-serif !important;
  background-image: url("https://res.cloudinary.com/stormdragon-designs/image/upload/v1526268294/cityscape_day_jlwv0x.jpg");
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
}

.bg-lighten {
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
  .container {
    height: auto;
  }
  .row {
    height: auto;
  }
  body {
    /* background: #90c2f5; */
  }
}

.btn-facebook {
  background-color: #3b5998 !important;
}

.btn-twitter {
  background-color: #1da1f2 !important;
}

.btn-gitlab {
  background-color: #e34329 !important;
}

.castbutton {
  display: none;
}

.visible {
  display: block !important;
}
.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1;
}
